* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.my-weather {
    margin: 0 auto;
    text-align: center;
    width: 1200px;
    height: 1200px;

}